---
layout: default
title: "Coursehacker's Class Blog"
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.categories contains "assignment" %}
      {% else %}
        {% for authors in post.author %}
    	  {% if {{site.authors[authors].prof}} == true %}
            <strong>
      	  {% endif %}
	    {% endfor %}
        <li><strong><span>{{ post.date | date_to_string }}</span> &raquo;</strong> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> by 
		{% assign authorCount = post.author | size %}
		{% if authorCount == 0 %}
		{% elsif authorCount == 1 %}
          {{ post.author | first }}
		{% else %}
          {% for authors in post.author %}{% if forloop.first %}{% assign authored = site.authors[authors] %}
              {{ authored.name }}{% elsif forloop.last %}
              {% assign authored = site.authors[authors] %}
              and {{ authored.name }}{% else %}{% assign authored = site.authors[authors] %}, {{ authored.name }}{% endif %}{% endfor %}
		{% endif %}
      </li>
	
      {% for authors in post.author %}
      		{% if {{site.authors[authors].prof}} == true %}
        	</strong>
      		{% endif %}
	{% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
